@import url('https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre:400,700|Lora:400,700|Muli:300,400,400i,600&display=swap');

body {
    background-color: #ffffff;
    font-family: 'Muli', sans-serif;
    font-size: 18px;
    line-height: 1.8em;
    color: #4B4B4B;
}

/* set the heading styles */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Frank Ruhl Libre', serif;
}

h2 {
    font-size: 1.389em;
    padding: 1.111em;
    text-align: center;
    letter-spacing: 0.111em;
    text-transform: uppercase;
}
h3 {
    font-size: 1.278em;
    margin: 1.111em 0;
}

p {
    margin-bottom: 1.111em;
/*
    font-size: 1em;
    line-height: 1.389em;
*/
}

/* default link styles */
a {
    color: #99cc00;
}
a:hover {
    color: #99cc00;
}
a:visited {
    color: #ffffff;
}
a:active {
    color: yellow;
}



main ul, main ol {
    padding-bottom: 1.111em;
    font-size: 1em;
}

main ul {
    list-style-type: square;
}
main ol {
    list-style-type: decimal;
}
main li {
    margin-left: 3.333em;
}

/* navigation */
nav ul {
    list-style-type: none;
}
nav ul li {
    display: inline;
}
nav ul li a {
    text-decoration: none;
    padding: 0 0.833em;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 0.778em;
    letter-spacing: 0.056em;
}
nav ul li a:hover {
    color: #000000;
}

/*set the link for the current page*/
nav a.current-page {
    color: #000000;
}

/* main styles */
.wrapper {
    width: 70%;
    /* margin: TOP/BOTTOM left/right */
    margin: 0 auto;
}







header {
    background-color: #70B7DA;
    position: fixed;
    width: 100%;
}
h1 {
    font-size: 1.44em;
    display: inline-block;
    padding: 0.556em 0;
    text-transform: uppercase;
    letter-spacing: 0.111em;
}

h1 a {
    text-decoration: none;
}
h1 a:hover {
    color: #000;
}


nav {
    height: 2.778em;
    display: inline-block;
    float: right;
}
nav ul {
        margin-top: 0.833em;
}
nav ul li {
}

/* for the front page */
.hero-content {
    background-image: url(../images/banner-about.jpg);
    height: 16.667em;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: middle;
    padding-top: 2.778em; 
}
.hero-content.heritage {
    background-image: url(../images/banner-heritage.jpg);
    background-position: bottom;
}

.hero-content.signifigance {
    background-image: url(../images/banner-signifigance.jpg);
    background-position: bottom;
}

.hero-content.architect {
    background-image: url(../images/banner-thearchitect.jpg);
    background-position: bottom;
}
.hero-content.about {
    background-image: url(../images/banner-about.jpg);
    background-position: bottom;
}

main {
    padding: 0 1.111em 2.778em 1.111em;
}
/* footer styles */
footer {
    background-color: #D6D7D8;
    height: 11.111em;
    padding: 1.111em 0;
}

/* just target the paragraph in the footer */
footer p {
    font-size: 80%;
    padding: 1.111em 0;
    text-align: center;
}

.column {
    width: 15.500em;
    background-color: #ccc;
    float: left;
}
/* multiple classes */
.column.middle {
    margin: 0 0.556em;
}

.last-word {
    clear: both;
}

/*  image styles  */
img {
    max-width: 22.222em;
}
.left-image-box {
    
    border: 0.056em solid #fff;
    float: left;
    text-align: center;
    padding: 1.111em;
    margin: 1.111em 1.111em 1.111em 0;
}
.image-box p{
    margin-top: 0.556em; 
}
.image-box img {
    max-height: 16.667em;
}


/* Media query for phones */
@media screen and (max-device-width: 400px) {
    .wrapper {
        width: 98%;
    }
    
/*    change the image width on a mobile*/
    img {
        max-width: 100%;
    }
    
    .left-image-box p {
        font-size: 2.2em;
    }
    
}

/* this media query will target devices larger than 400px and less than 768px */
@media screen and (min-device-width: 400px) and (max-device-width: 768px) {
    
/*    override typography */
    h2 {
        font-size: 2.389em;
    }
    h3 {
        font-size: 2.278em;
    }
    .wrapper {
        width: 95%;
    }
    
    img {
        max-width: 80%;
    }
    
    .left-image-box p {
        font-size: 2.2em;
    }
    
}

@media screen and (min-device-width: 768px) {
    h1 {
        text-align: center;
        display: block;
    }
    nav {
        float: none;
        display: block;
    }
    nav ul {
        text-align: center
    }
 
}