@import url('https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre:400,700|Lora:400,700|Muli:300,400,400i,600&display=swap');

body {
    background-color: #ffffff;
    font-family: 'Muli', sans-serif;
    font-size: 18px;
    color: #4B4B4B;
}

/* set the heading styles */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Frank Ruhl Libre', serif;
}

h2 {
    font-size: 25px;
    padding: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
}
h3 {
    font-size: 23px;
    margin: 20px 0;
}

p {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 25px;
}

/* default link styles */
a {
    color: #99cc00;
}
a:hover {
    color: #99cc00;
}
a:visited {
    color: #ffffff;
}
a:active {
    color: yellow;
}



main ul, main ol {
    padding-bottom: 20px;
    font-size: 18px;
}

main ul {
    list-style-type: square;
}
main ol {
    list-style-type: decimal;
}
main li {
    margin-left: 60px;
}

/* navigation */
nav ul {
    list-style-type: none;
}
nav ul li {
    display: inline;
}
nav ul li a {
    text-decoration: none;
    padding: 0 15px;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
}
nav ul li a:hover {
    color: #000000;
}

/*set the link for the current page*/
nav a.current-page {
    color: #000000;
}

/* main styles */
.wrapper {
    width: 70%;
    /* margin: TOP/BOTTOM left/right */
    margin: 0 auto;
}

header {
    background-color: #70B7DA;
    position: fixed;
    width: 100%;
}
h1 {
    font-size: 26px;
    display: inline-block;
    padding: 10px 0;
    text-transform: uppercase;
    letter-spacing: 2px;
}

h1 a {
    text-decoration: none;
}
h1 a:hover {
    color: #000;
}


nav {
    height: 50px;
    display: inline-block;
    float: right;
}
nav ul {
        margin-top: 15px;
}
nav ul li {
}

/* for the front page */
.hero-content {
    background-image: url(../images/churchill-house-20.jpg);
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: middle;
    padding-top:50px; 
}
.hero-content.heritage {
    background-image: url(../images/banner-heritage.jpg);
    background-position: bottom;
}

.hero-content.signifigance {
    background-image: url(../images/banner-signifigance.jpg);
    background-position: bottom;
}

.hero-content.architect {
    background-image: url(../images/banner-thearchitect.jpg);
    background-position: bottom;
}
.hero-content.about {
    background-image: url(../images/banner-about.jpg);
    background-position: bottom;
}

main {
    padding: 0px 20px 50px 20px;
}
/* footer styles */
footer {
    background-color: #D6D7D8;
    height: 200px;
    padding: 20px 0;
}

/* just target the paragraph in the footer */
footer p {
    font-size: 16px;
    padding: 20px 0;
    text-align: center;
}

.column {
    width: 279px;
    background-color: #ccc;
    float: left;
}
/* multiple classes */
.column.middle {
    margin: 0 10px;
}

.last-word {
    clear: both;
}

/*  image styles  */
img {
    max-width: 400px;
}
.left-image-box {
    
    border: 1px solid #fff;
    float: left;
    text-align: center;
    padding: 20px;
    margin: 20px 20px 20px 0;
}
.image-box p{
    margin-top: 10px; 
}
.image-box img {
    max-height: 300px;
}

